body {
  margin: 0;
  font-family: "dpcomic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar{ 
  display: flex;
  justify-content: space-around;
  background-color: yellow;
  height: 60px;
  align-items: center;
}
.navbar-link{ 
  text-decoration: none;
  color: purple;
  font-size: 2em;
}

.rules, .homepage, .game, .results{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.7)), url("../src/img/pop-culture-trivia-pop-art-collage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
ul {
  align-items: right;
}
.ol {
  color: rgb(123, 27, 123);
  font-size: 3.2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 3px;
  align-items: right;
  /* text-align: center; */
}
h1, h2{ 
  padding: 0.1em;
  color: rgba(47, 247, 7, 0.886);
  font-family: "dpcomic";
  font-size: 7em;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;

}
h2 { 
  padding: 1em;
  color: purple;
  font-size: 4em;

}

.link, button{
  font-family: "dpcomic";
  border-radius: 10px;
  padding: 0.2em;
  background-color: rgb(0, 217, 255);
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 2em;
  border: 1.5px solid black;
}

.countdown{
  padding: 0.1em;
  /* color: rgba(47, 247, 7, 0.886); */
  font-size: 3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lyrics{
  font-size: 2em;
  background-color:rgba(255,255,255,0.7);
  border: 1px solid purple;
  padding: 0 2em 0 2em;
  margin: 0 2em 0 2em;
  letter-spacing: 2px;
}
.input{ 
  font-size: 2em;
  font-family: "dpcomic";
}
.submit{
  background-color: rgb(13, 255, 0);
}

.input-container{
  display: flex;
  align-items: space-around;
  justify-content: space-around;
}


@media only screen and (max-width: 650px) {
  .navbar-link{ 
    font-size: 1em;
  }
  .ol {
    font-size: 2em;
  }
  h1, h2{ 
    font-size: 5em;
  }
  h2 { 
    font-size: 2em;
  }
  button{
    font-size: 1em;
  }
  .lyrics{ 
    font-size: 1em;
  }
  .input{ 
    font-size: 1em;

  }
}