body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.rules, .homepage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  margin: 0.5em;
}
ul ol {
  list-style: circle;
}

.link{
  border: 1px solid black;
  color: blue;
}

button {
}